* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat", sans-serif;
    
}


.w3-row-padding img {
    margin-bottom: 12px;
}

/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {
    #main {
        margin-left: 0;}
}

.navbar{
    position: fixed;
    width: 100%;
}

div .nav-item {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 20px;  
    margin-right: 50px;  
    border: 1.5px solid white;
    border-radius: 50px;
}

div .collapse {
    display: flex;
    justify-content: flex-end;
}

.header {
   margin-top: 100px;
    padding: 30px;
    text-align: center;
}